// This file makes the Just the Docs site wider.
// It's referenced in _config.yml as color_scheme: wider
// See: https://github.com/just-the-docs/just-the-docs/discussions/481

$content-width: 55rem; // Default is 50rem
